
/*variaveis*/
:root{
    --cor-principal:rgb(141, 123, 104);
    --cor-secundaria:rgb(241, 222, 201);
}

body{
    background-color:rgb(241, 222, 201);
}

.page-title{
    color: var(--cor-principal);
    margin: 40px 10px 10px 10px;
    font-size: 35pt;
    font-style: italic;
    text-align:center;
    font-weight: bolder;

}
.page-subtitle{
    color:var(--cor-principal);
    font-size: 20pt;
    font-weight: bolder;
    margin: 40px 10px 10px 10px;

}
.body-article{
    color:var(--cor-principal);
    font-size: 16pt;
    line-height: 1.5;

}

    /*imagem banner produtos*/

.banner-header{
    width:99%; /* largura*/
    height: 250px;
    object-fit: cover;
    object-position: 50% 50%;

}
/*products*/
.products-shoes img{
    width:20%; /* largura*/
    height: 200px;
}
.product-bags img{
    width:20%; /* largura*/
    height: 200px;
}
.product-bags h1{
    color: var(--cor-principal);
    color:var(--cor-secundaria);
    background:rgb(141, 123, 104);
    font-size: 20pt;
    font-style: italic;
    border:3px solid rgb(134, 112, 112);
    height: 40px;
    line-height: 1.5;
}
.products-shoes h1{
    color:var(--cor-principal);
    color:var(--cor-secundaria);
    background: rgb(141, 123, 104) ;
    font-size: 20pt;
    font-style: italic;
    border:3px solid rgb(134, 112, 112);
    height: 40px;
    line-height: 1.5;
}
/*menu de navegação*/
.navbar ul{
    display: flex;
    justify-content: start;
}
.navbar li{
    padding: 90px
}

/*Footer*/
.address{
    color:var(--cor-principal);
    font-size: 18pt;
    text-align:center;
    font-style: italic;
}