body{
    background-color:rgb(228, 208, 208);
}

.titulo-da-pagina{
color:rgb(112, 68, 27);
margin: 40px 10px 10px 10px;
font-size: 35pt;
font-style: italic;
text-align:center;
font-weight: bolder;

}

.subtitulo-da-pagina{
color:rgb(112, 68, 27);
font-size: 20pt;
font-weight: bolder;
margin: 40px 10px 10px 10px;

}
.corpo-artigo{
color:rgb(134, 112, 112);
font-size: 16pt;
line-height: 1.5;

}
.endereço{
    color:rgb(112, 68, 27);
    font-size: 15pt;
    text-align:center;
    font-style: italic;
    
}
/*imagem banner produtos*/

.banner-header{
width:100%; /* largura*/
height: 250px;
object-fit: cover;
object-position: 50% 50%;

}
.produtos-sapatos img{
width:20%; /* largura*/
height: 200px;
}
.produtos-bolsas img{
width:20%; /* largura*/
height: 200px;

}
.produtos-bolsas h1{
color: white;
background:rgb(134, 112, 112);
font-size: 20pt;
font-style: italic;
border:3px solid rgb(134, 112, 112);
height: 40px;
line-height: 1.5;
}

.produtos-sapatos h1{
    color:white ;
    background: rgb(134, 112, 112) ;
    font-size: 20pt;
    font-style: italic;
    border:3px solid rgb(134, 112, 112);
    height: 40px;
    line-height: 1.5;
}

.menu-navegacao ul{
    display: flex;
    justify-content: start;
}

.menu-navegacao li{
    padding: 20px
}